main h1 {
    text-align: center;
}

table {
    border: 1px dotted aliceblue;
    border-collapse: collapse;
    width: 97.5%;
    margin: 1rem;
}

table th, table td {
    border: 1px dotted aliceblue;
    /* width: 5%; */
    padding: .6em;
}

thead {
    text-align: center;
}

table a {
    display: block;
    text-decoration: none;
    color: aliceblue;
}

table a:hover, table a:focus {
    color: rgb(211, 195, 49);
}

@media (max-width: 450px) {
    table {
        margin-left: .25rem;
        margin-right: .25rem;
    }
}

@media (max-width: 400px) {
    table {
        margin-left: 0;
        margin-right: 0;
    }
    
    main {
        font-size: 80%;
    }
}