main h1 {
    text-align: center;
}

main div {
    overflow: auto;
}

table {
    border: 1px dotted aliceblue;
    border-collapse: collapse;
    margin-top: 1rem;
}

table th, table td {
    border: 1px dotted aliceblue;
    width: 28%;
    padding: .6em;
}

table th:first-child, table td:first-child {
    width: 15%;
}

thead {
    text-align: center;
}

tbody tr td:nth-child(n + 2) {
    vertical-align: top;
}

table a {
    display: block;
    text-decoration: none;
    color: aliceblue;
}

table a:hover, table a:focus {
    color: rgb(211, 195, 49);
}

table ul {
    padding: 0 .1em 0 .6em;
}

table li {
    padding-bottom: .25em;
}