* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background: url('../img/codewall.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

body {
    background-color: rgba(60, 60, 60, .9);
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: repeat(12, 1fr);
    min-height: 100%;
}

header {
    grid-column: 1/13;
    grid-row: 1/2;
    color: rgb(211, 195, 49);
    padding: .75rem 0;
    justify-self: center;
}

/* typing animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes blink_cursor {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: rgb(211, 195, 49);
    }
}

header h1 {
    font-size: 300%;
    letter-spacing: 10px;
    font-family: 'Courier New', Courier, monospace;
    border-right: .1em solid rgb(211, 195, 49);
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2.5s steps(40, end), blink_cursor .75s step-end infinite;
}

#mobile_menu {
    display: none;
    grid-column: 1/13;
    grid-row: 2/3;
}

#nav_menu {
    grid-column: 1/13;
    grid-row: 2/3;
}

#nav_menu ul {
    list-style-type: none;
    display: flex;
    flex-basis: 100%;
    text-align: center;
}

#nav_menu ul li {
    flex-basis: 20%;
    background-color: rgb(20, 20, 20);
}

#nav_menu ul li a {
    display: block;
    padding: .25em 0;
    text-decoration: none;
    color: white;
}

#nav_menu ul li a.currentpage {
    color: rgb(211, 195, 49);
    /* background: rgb(40, 40, 40); */
}

#nav_menu ul li a:hover, #nav_menu ul li a:focus {
    color: rgb(211, 195, 49);
    background: rgb(40, 40, 40);
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    width: 20%;
}

#nav_menu ul li:hover ul, #nav_menu ul li:focus ul {
    display: block;
}

#nav_menu ul ul li {
    width: 100%;
}

main {
    grid-column: 2/12;
    grid-row: 3/4;
    background: rgb(40, 40, 40);
    border-radius: 20px;
    margin: 2em 0;
    padding: 1em;
    color: aliceblue;
    text-align: left;
}

main img {
    max-width: 100%;
    width: 50%;
    float: right;
    border-radius: 30px;
    padding: 1rem;
}

main h1 {
    padding: 1rem;
}

main p {
    padding: .5rem 1rem;
    line-height: 1.5;
}

main a:link, main a:visited {
    color: aliceblue;
}

main a:hover, main a:focus {
    font-style: italic;
}

footer {
    background-color: rgb(20, 20, 20);
    grid-column: 1/13;
    grid-row: 4/5;
    padding: .25em 0;
}

footer p {
    text-align: center;
    color: aliceblue;
    font-weight: 100;
    font-size: 0.9em;
}

@media (max-width: 535px) {
    header h1 {
        font-size: 250%;
    }

    #nav_menu a {
        font-size: 95%;
    }
}
@media (max-width: 465px) {
    header h1 {
        letter-spacing: 5px;
        font-size: 195%;
    }

    main {
        font-size: 90%;
    }

    #nav_menu {
        display: none;
    }

    #mobile_menu {
        display: block;
    }

    .slicknav_btn {
        margin-top: 0;
        margin-bottom: 0;
        background: #4c4c4c;
    }

    .slicknav_menu .slicknav_menutxt {
        display: none;
    }
}